@model ErrorViewModel
@{
    ViewData["Title"] = "FORBIDDEN ERROR";
    Layout = "";
}

<head>
    <title>EmailCampaignAdmin | HTTP FORBIDDEN ERROR 403</title>
</head>
<body>
    <div id="errorPage" style="margin:0 auto; max-width:840px;">
        @*<a href="/">
            <img src="~/images/404-not-found.png" style="max-width:100%;margin-top:100px;border:0px;">
        </a>*@
        <h1>EmailCampaignAdmin | HTTP FORBIDDEN ERROR 403 </h1>
    </div>
</body>
